/* Conteneur général */
.sticky-note-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px; /* Espacement entre les notes */
    
    margin-top: 50px;
}

/* Sticky Note */
.sticky-note {
    gap:5px;
    width: 260px; /* Largeur des notes */
    height: 180px; /* Ajuste automatiquement selon le contenu */
    background-color:rgb(228 228 249);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2); /* Ombre pour l'effet 3D */
    border-radius: 8px; /* Coins arrondis */
    padding: 15px; /* Espacement interne */
    position: relative;
    overflow-wrap: break-word; /* Priorité à la coupure de mot */
    word-wrap: break-word; /* Permet au texte de passer à la ligne */
    word-break: break-word; /* Coupure automatique des mots longs */
    white-space: normal; /* Assure que le texte s'adapte à l'espace disponible */
    hyphens: auto;
    transition: transform 0.3s, box-shadow 0.3s; /* Animation lors du survol */
}

/* Effet au survol */
.sticky-note:hover {
    transform: translateY(-5px); /* Légère élévation */
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3); /* Accentuation de l'ombre */
}

/* Texte de la note */
.sticky-note p {
    width: 85%;
    justify-content: left;
    margin: 0 0 15px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    overflow-wrap: break-word; /* Priorité à la coupure de mot */
    word-break: break-word; /* Coupure automatique des mots longs */
    white-space: normal; /* Assure que le texte s'adapte à l'espace disponible */
    hyphens: auto;
}

/* Bouton de suppression */
.sticky-note button {
    position: absolute; /* Positionne le bouton par rapport à la note */
    top: 10px; /* Distance du haut de la note */
    right: 15px; /* Distance de la droite de la note */
    padding-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s;
    z-index: 10; /* Assure que le bouton est au-dessus du texte */
}

.sticky-note button:hover {
    transform: scale(1.1); /* Agrandissement léger */
}

/* Image du bouton */
.sticky-note button img {
    
    width: 16px;
    height: 16px;
}

/* Titre principal */
.titre {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* Conteneur des notes */
 
