.titre{
    margin-top: 20px;
    margin-bottom: 30px;
    text-shadow: 3px 3px 5px #ed97977b;

}

.liste {
    width: 1000px;
    max-height: 95vh;
     /* Set a max height for the scrolling effect */
    overflow-y: auto; /*Enable vertical scrolling */
    margin: 30px 10px 10px 15px;
    font-family: Arial, sans-serif;
     /* Ensures the border-radius is visible */
    border-radius: 7px; /* Apply border-radius to the container */
    box-shadow: 3px 3px 5px #ed97977b;
    border: 1px solid rgba(0, 0, 0, 0.085); 
    transition: 0.5s;
    
}
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .thead2{
    position: sticky;
  }
  
  thead th {
    color: black;
    
    background-color: rgb(255, 247, 233);
    text-align: left;
    /* position: sticky; */
    padding: 10px;
    border-bottom: 2px solid #ddd;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
  tbody tr:nth-child(even) {
    background-color: #fff;
  }
  
  tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  /* Adding styles for completed tasks */
  tbody td[style*="text-decoration: line-through;"] {
    color: #000000;
  }